.heading {
  font-size: 25px;
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 600;
}
@media all and (min-width: 576px) {
  .heading {
    font-size: 50px;
  }
}
@media all and (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
}
